<!DOCTYPE html>
<html ng-app="myFirstApp">

<head>
    <meta charset="utf-8">
    <title>Hello Coursera</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body>
    <h1>Lunch Box Evaluator</h1>
    <div ng-controller="LunchController">
        <input type="text" placeholder="What do have for lunch? Pizza, Fries, Coke, Ice Cream? " ng-model="lunchItems">
        <br/>
        <br/>
        <button ng-click="checkIfTooMuch()">Check If too Much</button>
        <br/>
        <br/>
        <div>
            {{verdict}}
        </div>
    </div>
</body>

</html>
